
* {
    margin: 0;
    padding:0;
}

html, body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;

}
.page{
    display:flex;
    flex-direction: column;
    height: 100dvh;
    background-color: blanchedalmond;
   
  
}

.header, .Copyright{
    padding: 1rem;
    background-color: blanchedalmond;
    font-size: 2rem;
    font-weight: bolder;
    color: black;
    display:flex;
    justify-content: center;
    align-items: end;
    flex-wrap:wrap;
}

.Copyright{
    font-size: 1rem;
    display:flex;
    flex: 1;

}


.containerBox {
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    background-color:blanchedalmond;
    }
.buttons{
    gap: 1dvh;
    display:flex;
    justify-content: center;
    padding-bottom: 10px;


    
}

.buttons > button {
    align-items: center;
    justify-content: space-around;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #EA4C89;
    border: none;
    border-radius: 8px;
    color:#fff;
    width: fit-content;
    font-weight: 500;
    transition: color 100ms;
    margin: 5px;
    padding: 6px;
    max-width: fit-content;
    max-height: fit-content;
    font-size: 2dvh;
}

.Delete:hover,
.Delete:focus{
    background-color: #F082AC;
}
    
.Demo {
display: flex;
width: 600px;
height: 600px;
flex-wrap: wrap;
background-color: white;
}





